@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..600&display=swap');

:root {
    /* сolor palette */
    --color-orange-500:#EC5B37;

    /* dimensions */
    --font-size-xs: 12px;
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 20px;
    --font-family: "Inter", sans-serif;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
}

body {
    font-family: var(--font-family);
    font-weight: var(--font-weight-500);
}